<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Calificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calificaciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
  <ion-card>
    <ion-card-content>
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Materia</th>
            <th>Calificación</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ramon Cantu</td>
            <td>Mate</td>
            <td>90</td>
          </tr>
          <tr>
            <td>Juan Gonzales</td>
            <td>Fisica</td>
            <td>85</td>
          </tr>
          <tr>
            <td>Miguen Rodriguez</td>
            <td>Historia</td>
            <td>78</td>
          </tr>
          <tr>
            <td>Sarah Ayala</td>
            <td>Eespañol</td>
            <td>92</td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>

</ion-content>
